@mixin phone
    @media (max-width: #{$phone-width})
        @content
        display: flex
        
.container-fluid
    @include phone     
        align-items: center
        justify-content: center
        flex-direction: column
        flex-wrap: wrap

h2  
    @include phone
        padding-top: 10px
        font-size: 30px

.pokedex
    @include phone
        flex-direction: column
        box-sizing: content-box     
        width: 300px    
        align-items: center
        justify-content: center
        padding: 5px

    p
        @include phone
        margin: 0
            flex-wrap: wrap

    .search
        @include phone
            padding: 15px
            flex-direction: column
            justify-content: flex-end
            
        #searchPokemon
            @include phone
                font-size: 10px
                min-width: 300px
                min-height: 50px

        #startButton
            @include phone
                min-width: 300px
                max-height: 70px
                text-align: center
        .dots
            @include phone
                margin:
                    top: 15px
                box-sizing: content-box    

            .dot
                @include phone
                    width: 10px
                    height: 10px
                    margin:
                        right: 10px
                    box-sizing: content-box

    .grey-background
        @include phone
            flex-direction: column
            width: 80%
            min-width: 270px

            #pokeImg
                @include phone
                    max-width: 250px
                    min-height: 250px
    

    h3
        @include phone
            font-size: 20px
            padding-top: 20px        
    
    // .not_found
    //     @include phone